@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
   
    <title>Party Invitation</title>
</head>
<body>

    <p>Please come to my party!</p>
</body>
</html>
